        // PAGE VERSION FOR THE MAIN PAGE RESPONSIVE FOR PHONE DEVICE


        @media screen and (max-width: 1024px) {

            @import "./flexbox";

            // NAVIGATION BAR
            .nav {

                height: 25vh;

                // LOGO SATURN
                img {

                    display: none;
                }

                // LIST 
                ul {

                    display: flex;
                    @include flexcenter(column);


                    li {
                        margin: 1rem;
                    }
                }



            }

            // TITLE TABLE 



            .title {
                height        : 55vh;
                margin        : auto;
                text-align    : center;
                width         : 75%;
                letter-spacing: 0.4rem;

                h1 {
                    padding: 3rem 0;
                }

                h3 {
                    display: none;
                }
            }



            // BUTTON FOR THE FIRST PAGE 


            .buttonx {
                height: 20vh;
            }

            #secondpage {

                display: flex;
                flex-direction: column;
                background-color: black;
             

                .information{
                    width: 100%;

                 

                        background: url("https://images.unsplash.com/photo-1524455567005-adafed8a3f1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
                    
                }

                .information2{
                    width: 100%;
                }
            }
            


            

        }