        * {

            padding   : 0;
            margin    : 0;
            box-sizing: border-box;
        }


        /* IMPORT FILES FROM SCSS FLEXBOX TO THIS FILE */

        @import "./flexbox";

        /* Introduction 1 Page */
        #introduction {
            background       : url("https://images3.alphacoders.com/915/thumb-1920-915615.png");
            background-repeat: no-repeat;
            background-size  : cover;

        }

        .shadow {
            height          : 100vh;
            width           : 100%;
            background-color: rgba(0, 0, 0, 0.705);
        }

        .introduction {

            height: 90vh;
            width : 100%;

        }

        /*! NAVIGATION BAR FROM PAGE 1 */

        .nav {

            color           : white;
            background-color: none;
            height          : 10vh;
            width           : 90%;



            img {
                height: 3rem;
                flex  : 0.5;

            }

            background-color: none;
            @include flexcenter (row);

            ul {
                display        : flex;
                justify-content: flex-end;
                flex           : 1;


                li {
                    .lius {
                        border: white solid 2px;

                        &:hover {
                            background-color: white;
                            color           : black;

                        }
                    }

                    a {
                        text-decoration-line: none;
                        padding             : 1rem 2rem;
                        color               : white;


                    }


                    list-style : none;
                    font-family: 'Dosis',
                    sans-serif;
                }
            }

        }






        .title {
            font-family   : 'Dosis', sans-serif;
            display       : flex;
            width         : 60%;
            height        : 60vh;
            color         : white;
            border-radius : 0.4rem;
            letter-spacing: 1rem;
            margin        : auto;

            h1 {
                padding: 4rem;

            }

            h3 {
                padding: 4rem;

            }

            @include flexcenter (column);
        }


        /* MAKE RESPONSIVE INTRODUCTION */

        @media screen and (max-width: 900px) {


            #introduction {
                background-position: left;

                .nav {
                    display       : flex;
                    flex-direction: column;

                    img {
                        height: 2rem;
                    }

                    li {
                        display: none;
                    }
                }

                @include flexcenter (none);

                .title {
                    text-align: center;
                    font-size : 1.2rem;
                    text-align: center;
                    padding   : none;

                    letter-spacing: 0.6rem;

                    h3 {
                        display: none;
                    }

                }

            }

        }